.rcw-conversation-container {
  max-width: 100vw !important;
}

.quick-buttons-container {
  overflow-x: inherit !important; 
}

.quick-buttons {
  display: grid !important;
}

.quick-buttons-container .quick-buttons {
  text-align: right !important;
}

.quick-buttons-container .quick-buttons .quick-list-button {
  margin-bottom: 5px !important;
}